.emojiEmotionsWrapper {
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/images/miniGames/miniGamesBackground.png');
  background-size: cover;
  position: relative;
  border-radius: 30px 30px;
  min-height: 100vh;
  padding-top: 2.95rem;
}

.emojiEmotionsTitleWrapper {
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 1.875rem;
}

.emojiEmotionsTitle {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 0.625rem;
}

.emojiEmotionsAnswersNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.315rem;
}

.emojiEmotionsAnswersNumber > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C26F4D;
  color: #FBA07A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.emojiEmotionsGameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.emojiEmotionsGameContainer {
  display: flex;
  width: 960px;
  height: 457px;
  background-image: url(../../../assets/images/miniGames/emojiEmotions/EmojiEmotionsCardBackground.png);
  background: linear-gradient(180deg, #2F202F33 0%, #460C2333 100%);
  border-radius: 10px 10px;
  padding: 40px;
}

.emojiEmotionsLeftSideContent {
  position: relative;
  flex: 1;
}

.emojiEmotionsMiddleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.emojiGameCard {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 74px;
  gap: .625rem;
}

.emojiGameCard > div {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #C26F4D;
}

.emojiGameCard > div > img {
  width: 34px;
  height: 34px;
}

.emojiEmotionsOptionAnswers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .315rem;
}

.emojiEmotionsOptionAnswers > div {
  width: 210px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C26F4D;
  color: #FFF;
  border-radius: 20px 20px;
}

.optionAnswers > img {
  width: 40px;
  height: 40px;
}

.neutralAnswer {
  margin-top: .95rem;
}

.emojiEmotionsRightSideContent {
  flex: 1;
  display: flex;
  justify-content: end; 
  position: relative;
}