.friendOrFoeWrapper {
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/images/miniGames/miniGamesBackground.png');
  background-size: cover;
  position: relative;
  border-radius: 30px 30px;
  min-height: 100vh;
  padding-top: 2.95rem;
}

.friendOrFoeTitleWrapper {
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 1.875rem;
}

.friendOrFoeTitle {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 0.625rem;
}

.friendOrFoeAnswersNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.315rem;
}

.friendOrFoeAnswersNumber>div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C26F4D;
  color: #FBA07A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.friendOrFoeGameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.friendOrFoeGameContainer {
  display: flex;
  width: 960px;
  height: 457px;
  background-image: url(../../../assets/images/miniGames/emojiEmotions/EmojiEmotionsCardBackground.png);
  background: linear-gradient(180deg, #2F202F33 0%, #460C2333 100%);
  border-radius: 10px 10px;
  padding: 40px;
}

.friendOrFoeLeftSideContent {
  position: relative;
  flex: 1;
}

.friendOrFoeMiddleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.friendOrFoeGameCard {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: .625rem;
}

.messageGameCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
  border-radius: 20px 20px;
  padding: 1.5rem;
  gap: 1.125rem;
}

.messageGameCard>img {
  width: 80px;
  height: 80px;
}

.messageName {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 0.3rem;
}

.messageText {
  font-size: 14px;
  line-height: 16px;
  color: #FFB496;
}

.friendOrFoeOptionAnswers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .315rem;
}

.friendOrFoeDeclineButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px;
  border: 0;
  padding: .5rem;
  width: 140px;
  height: 50px;
  background: #FFB6B6;
  font-size: 1rem;
  font-weight: 500;
  gap: 5px;
}

.friendOrFoeAcceptButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px;
  padding: .5rem;
  width: 140px;
  height: 50px;
  background: #B2F0B6;
  font-size: 1rem;
  font-weight: 500;
  gap: 5px;
}

.friendOrFoeRightSideContent {
  flex: 1;
  display: flex;
  justify-content: end;
  position: relative;
}

.friendOrFoeFoxWrap {
  display: flex;
  align-items: start;
  justify-content: center;
}

.friendOrFoeFoxTextTought {
  position: absolute;
  right: .75rem;
  top: .6rem;
  font-size: 19px;
  z-index: 10;
  width: 130px;
  height: 68px;
  color: #FFB496;
  line-height: 19px;
}

.friendOrFoeFoxTought {
  position: absolute;
  right: 1.5rem;
  z-index: 1;
}

.friendOrFoeGameTimeCirkle {
  position: absolute;
  bottom: 10%;
  right: 0;
  width: 70px;
  height: 70px;
  margin: 50px auto 0;
  border: solid 3px #ffffff;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.friendOrFoeGamePad {
  position: absolute;
  bottom: 10%;
  right: 0;
  transform: translate(-50%, -50%);
  width: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.friendOrFoeGameInfo {
  position: absolute;
  right: 20%;
}


@media only screen and (max-width: 1000px) {

  .friendOrFoeWrapper {
    border-radius: 0;
    padding-top: 0;
    background-position: center;
    background-size: cover;
    background-image: url('../../../assets/images/miniGames/snapJudgment/snapJudgmentCardBackgroundRes.png');
    min-height: unset;
    height: 100%;
    padding-bottom: 10rem;
  }

  .friendOrFoeTitleWrapper {
    padding-inline: .5rem;
    width: unset;
    margin: 0;
    margin-bottom: 1.875rem;
  }

  .friendOrFoeTitle {
    width: 100%;
    position: relative;
    padding-top: .5rem;
  }

  .friendOrFoeTitle img {
    position: absolute;
  }

  .friendOrFoeTitle h1 {
    margin: 0 auto;
    font-size: 23px;
  }

  .friendOrFoeGameWrapper {
    width: 100%;
  }


  .friendOrFoeGameInfo {
    position: unset;
    right: 0;
  }

  .friendOrFoeGameContainer {
    background-image: none;
    display: unset;
    padding-inline: 1rem;
    width: 100%;
  }

  .friendOrFoeGameCard {
    margin-bottom: 2rem;
    width: 353px;
  }

  .friendOrFoeGameCard div {
    height: 120px;
  }

  .middleGamePhoto {
    width: 100%;
  }

  .friendOrFoeFoxWrap {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }

  .friendOrFoeFoxTextTought {
    right: 0;
    top: 4.5rem;
    width: unset;
    height: unset;
    display: none;
  }

  .friendOrFoeFoxTought {
    right: -1rem;
    top: 2.75rem;
    display: none;
  }

  .gameResult,
  .gameDescription {
    display: none;
  }

  .friendOrFoeGameDescRes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .friendOrFoeGameDescRes p {
    width: 80%;
    text-align: center;
    color: #FFF;
    margin-top: 2rem;
  }


  .gameResultRes {
    flex-direction: row;
    position: absolute;
    right: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 19px;
  }


  .friendOrFoeMiddleContent {
    margin-top: 2.5rem;
  }

  .middleInfoUser {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .friendOrFoeOptionAnswers {
    width: 100%;
    margin-bottom: 0;
  }

  .friendOrFoeOptionAnswers div {
    width: 100%;
    height: 75px;
  }

  .friendOrFoeOptionAnswers div:hover {
    background: #FFF;
    color: #000;
  }

  .friendOrFoeRightSideContent {
    position: unset;
  }

  .correctAnswered>span,
  .incorrectAnswered>span {
    display: none;
  }

  .restAssignment {
    position: absolute;
    left: 1.25rem;
    color: #FFB6B6;
    font-size: 23px;
  }

  .correctAnswered img {
    padding-right: .3rem;
  }

  .friendOrFoeGameTimerWrapper {
    position: absolute;
    top: 5.35rem;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-left: -22.5px;
  }

  .friendOrFoeGameTimeCirkle {
    bottom: 40%;
    right: .75rem;
    width: 45px;
    height: 45px;
  }

  .friendOrFoeGamePad {
    right: 0;
    width: 35px;
    height: 35px;
  }
}