.logInWrapper {
    display: flex;
    background-image: url('../../assets/images/login/logInBackground.png');
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.leftSideWrapper {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.leftSideBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/login/logInLeftSideBackground.png');
    background-size: cover;
    opacity: 0.5;
}

.leftSideContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: #FFFFFF;
}

.slideImage {
    /* position: absolute; */
}

.leftSideText {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -6.5rem;
    /* top: 60vh; */
}

.leftSideText h1 {
    width: 70%;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 34px;
    margin: 0;
}

.leftSideText p {
    width: 65%;
    color: #FFB496;
    font-weight: 500;
    margin: 0;
}


article {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*   border:4px solid rgb(83, 110, 143); */
    opacity: 0;
}


.sliderBtn {
    position: absolute;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    color: white;
    background: #C26F4D;
    transition: all 0.3s linear;
    font-size: 24px;
}

.sliderBtn:hover {
    cursor: pointer;
    background: rgb(98, 122, 92);
}

.prev {
    left: 20%;
    top: 95vh;
}

.next {
    right: 20%;
    top: 95vh;
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}

.sliderDots {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 95vh;
}

.dot {
    width: 6px;
    height: 6px;
    border: 1px solid #C26F4D;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    background: transparent;
}

.dot.active {
    background-color: #FFFFFF;
    /* Change to your desired active dot color */
}

.rightSideWrapper {
    flex: 1;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
}



@media (max-width: 1000px) {
    .logInWrapper {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        overflow: hidden;
    }

    .leftSideBackground {
        background: url('../../assets/images/login/logInBackgroundRes.png');
        background-size: cover;

    }

    .leftSideWrapper,
    .rightSideWrapper {
        min-height: 100vh;
    }

    .leftSideWrapper {
        position: unset;

    }

    .skipWrapper {
        position: absolute;
        right: 2rem;
        top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .25rem;
        color: #FFB496;
        font-size: 14px;
        z-index: 1000;
        cursor: pointer;
    }

    .slideImage {
        background: url('../../assets/images/login/cardsResBackGround.png');
        background-size: cover;
        background-position: center;
        border-radius: 20px 20px;
        margin-top: 20%;
    }

    #leftSizeWrapper {
        margin-top: 50vh;
    }

    .leftSideText h1 {
        margin-top: 8rem;
        width: 80%;

        font-size: 1.5rem;
    }

    .prev {
        left: 10%;
    }

    .next {
        right: 10%;
    }

    .dot {
        margin: 0 15px;
    }
}

@media (max-width: 600px) {

    .slideImage {
        background: url('../../assets/images/login/cardsResBackGround.png');
        background-size: cover;
        background-position: center;
        border-radius: 20px 20px;
        margin-top: 0;
    }

    #leftSizeWrapper {
        margin-top: 50vh;
    }

    .leftSideText h1 {
        margin-top: 8rem;
        width: 80%;
        font-size: 1.25rem;
    }

    .leftSideContent {
        height: 100vh;
    }

    .activeSlide {
        position: unset;
        height: unset;
    }

}