.responsiveHeaderWrapper {
  min-height: 82px;
  background: #3D1414;
  background-size: cover;
}

.responsiveHeaderLogo {
  width: 150px;
  height: 50px;
  margin-left: 3rem;
}

.responsiveLogoImg {
  width: 150px;
  height: 50px;
}

.responsiveCoinWrapper .coinImg {
  content: url('../../assets/images/navbar/coin.png');
}

.responsiveCoinWrapper:hover .coinImg {
  content: url('../../assets/images/navbar/coinBlack.png');
}

.responsiveMap,
.responsiveGame,
.responsiveHome,
.responsiveMessages,
.responsiveSearch {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #444648;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.responsiveMap:hover,
.responsiveGame:hover,
.responsiveHome:hover,
.responsiveMessages:hover,
.responsiveSearch:hover {
  background: #C26F4D;
}

.responsiveDm {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #C26F4D;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.responsiveCurrentHome {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: #C26F4D;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.responsiveNavigationWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: .5rem;
  left: 0;
  right: 0;
}

.responsiveHome {
  width: 70px;
  height: 70px;
}

.responsiveRightWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background: #3D1414;
  background-size: auto;
  left: 0;
  padding: .75rem 1rem;
  background-size: cover;
  z-index: 100;
}



.responsiveProfileWrapper {
  display: flex;
  gap: .7rem;
}

.responsiveProfileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.responsiveAvatarWrapper {
  display: flex;
  position: relative;
}

.responsiveLevel {
  display: flex;
  position: relative;
}

.responsiveAvatar {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.responsiveCoinWrapper {
  display: flex;
  width: 98px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  background: #C26F4D;
  border-radius: 30px 30px;
}

.responsiveCoinWrapper:hover {
  background-color: #ffffff;
  color: #000000;
}