* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.headerWrapper {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: black;
    position: sticky;
    top: 0;
}

.logo {
    width: 150px;
    height: 50px;
    margin-left: 3rem;
}

.logoImg {
    width: 150px;
    height: 50px;
}

.dropdownMenu {
    position: absolute;
    top: 60px;
    right: 0;
    background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.dropdownMenu button {
    background: none;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

.dropdownMenu button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#messages {
    position: relative;
}

#messages p {

    display: flex;
    justify-content: center;
    align-items: center;
}

.messageCounter {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    top: -.25rem;
    right: -.5rem;
}

.coinWrapper .coinImg {
    content: url('../assets/images/navbar/coin.png');
}

.coinWrapper:hover .coinImg {
    content: url('../assets/images/navbar/coinBlack.png');
}


.map,
.game,
.home,
.messages,
.miniGames,
.foxCustomization {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #444648;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.map:hover,
.game:hover,
.home:hover,
.miniGames:hover,
.messages:hover,
.foxCustomization:hover {
    background: #C26F4D;
}

.dm {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #C26F4D;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.currentMiniGames {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #C26F4D;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.currentHome {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #C26F4D;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.currentFoxCustomization {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #C26F4D;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 5rem;
}

.navigationWrapperResponsivness {
    display: none;
}

.home {
    width: 70px;
    height: 70px;
}

.coinWrapper {
    display: flex;
    width: 98px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background: #C26F4D;
    border-radius: 30px 30px;
}

.coinWrapper:hover {
    background-color: #ffffff;
    color: #000000;
}

.rightWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
}

.profileWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 130px;
    position: relative;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 130px;
}

.level {
    display: flex;
}

.avatarWrapper {
    display: flex;
    position: relative;
}

.avatar {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}