* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.headerWrapper {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: black;
}

.logo {
    width: 150px;
    height: 50px;
    margin-left: 3rem;
}

.logoImg {
    width: 150px;
    height: 50px;
}

.map, .game, .home, .messages, .search {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #444648;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.map:hover, .game:hover, .home:hover, .messages:hover, .search:hover {
        background: #C26F4D;
    }

.dm {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #C26F4D;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.currentHome {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #C26F4D;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 5rem;
}

.home {
    width: 50px;
    height: 50px;
}

.coinWrapper {
    display: flex;
    width: 98px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background: #C26F4D;
    border-radius: 30px 30px;
}

.coinWrapper:hover {
    background-color: #ffffff;
    color: #000000;
}

.rightWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
}

.profileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 130px;
}

.level {
    display: flex;
}

.avatarWrapper {
    display: flex;
    position: relative;
}

.avatar {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}