sershaback/API/bin/Debug/netcoreapp3.1/API.dll
sershaback/API/bin/Debug/netcoreapp3.1/API.exe
sershaback/API/bin/Debug/netcoreapp3.1/API.pdb
sershaback/API/bin/Debug/netcoreapp3.1/API.runtimeconfig.dev.json
sershaback/API/bin/Debug/netcoreapp3.1/Application.dll
sershaback/API/bin/Debug/netcoreapp3.1/Application.pdb
sershaback/API/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/API/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/API/bin/Debug/netcoreapp3.1/Infrastructure.dll
sershaback/API/bin/Debug/netcoreapp3.1/Infrastructure.pdb
sershaback/API/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/API/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/API/obj/API.csproj.nuget.dgspec.json
sershaback/API/obj/API.csproj.nuget.g.props
sershaback/API/obj/project.assets.json
sershaback/API/obj/project.nuget.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.assets.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.csproj.CoreCompileInputs.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
sershaback/API/obj/Debug/netcoreapp3.1/API.dll
sershaback/API/obj/Debug/netcoreapp3.1/API.GeneratedMSBuildEditorConfig.editorconfig
sershaback/API/obj/Debug/netcoreapp3.1/API.genruntimeconfig.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.pdb
sershaback/API/obj/Debug/netcoreapp3.1/apphost.exe
sershaback/Application/bin/Debug/netcoreapp3.1/Application.deps.json
sershaback/Application/bin/Debug/netcoreapp3.1/Application.dll
sershaback/Application/bin/Debug/netcoreapp3.1/Application.pdb
sershaback/Application/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Application/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Application/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/Application/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/Application/obj/Application.csproj.nuget.dgspec.json
sershaback/Application/obj/Application.csproj.nuget.g.props
sershaback/Application/obj/project.assets.json
sershaback/Application/obj/project.nuget.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.assets.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.csproj.AssemblyReference.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.csproj.CoreCompileInputs.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.dll
sershaback/Application/obj/Debug/netcoreapp3.1/Application.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Application/obj/Debug/netcoreapp3.1/Application.pdb
sershaback/Domain/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Domain/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Domain/obj/Domain.csproj.nuget.dgspec.json
sershaback/Domain/obj/Domain.csproj.nuget.g.props
sershaback/Domain/obj/project.assets.json
sershaback/Domain/obj/project.nuget.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.assets.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.csproj.AssemblyReference.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.csproj.CoreCompileInputs.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.dll
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Application.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Application.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.deps.json
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
sershaback/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
sershaback/Infrastructure/obj/project.assets.json
sershaback/Infrastructure/obj/project.nuget.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.assets.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.AssemblyReference.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.CoreCompileInputs.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.FileListAbsolute.txt
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.dll
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.pdb
sershaback/Persistence/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Persistence/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Persistence/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/Persistence/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/Persistence/bin/Debug/netcoreapp3.1/Persistence.runtimeconfig.dev.json
sershaback/Persistence/obj/Persistence.csproj.nuget.dgspec.json
sershaback/Persistence/obj/Persistence.csproj.nuget.g.props
sershaback/Persistence/obj/project.assets.json
sershaback/Persistence/obj/project.nuget.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.assets.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.csproj.AssemblyReference.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.csproj.CoreCompileInputs.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.dll
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.genruntimeconfig.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.pdb
sershaback/API/obj/Debug/netcoreapp3.1/API.assets.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Application/obj/Debug/netcoreapp3.1/Application.assets.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.csproj.AssemblyReference.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.assets.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.csproj.AssemblyReference.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.assets.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.csproj.AssemblyReference.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.GeneratedMSBuildEditorConfig.editorconfig
sershaback/API/obj/Debug/netcoreapp3.1/API.assets.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Application/obj/Debug/netcoreapp3.1/Application.assets.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.csproj.AssemblyReference.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.assets.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.csproj.AssemblyReference.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.assets.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.csproj.AssemblyReference.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.GeneratedMSBuildEditorConfig.editorconfig
sershaback/API/bin/Debug/netcoreapp3.1/API.dll
sershaback/API/bin/Debug/netcoreapp3.1/API.exe
sershaback/API/bin/Debug/netcoreapp3.1/API.pdb
sershaback/API/bin/Debug/netcoreapp3.1/API.runtimeconfig.dev.json
sershaback/API/bin/Debug/netcoreapp3.1/Application.dll
sershaback/API/bin/Debug/netcoreapp3.1/Application.pdb
sershaback/API/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/API/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/API/bin/Debug/netcoreapp3.1/Infrastructure.dll
sershaback/API/bin/Debug/netcoreapp3.1/Infrastructure.pdb
sershaback/API/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/API/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/API/obj/API.csproj.nuget.dgspec.json
sershaback/API/obj/API.csproj.nuget.g.props
sershaback/API/obj/project.assets.json
sershaback/API/obj/project.nuget.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.assets.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.csproj.CoreCompileInputs.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
sershaback/API/obj/Debug/netcoreapp3.1/API.dll
sershaback/API/obj/Debug/netcoreapp3.1/API.GeneratedMSBuildEditorConfig.editorconfig
sershaback/API/obj/Debug/netcoreapp3.1/API.genruntimeconfig.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.pdb
sershaback/API/obj/Debug/netcoreapp3.1/apphost.exe
sershaback/Application/bin/Debug/netcoreapp3.1/Application.deps.json
sershaback/Application/bin/Debug/netcoreapp3.1/Application.dll
sershaback/Application/bin/Debug/netcoreapp3.1/Application.pdb
sershaback/Application/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Application/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Application/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/Application/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/Application/obj/Application.csproj.nuget.dgspec.json
sershaback/Application/obj/Application.csproj.nuget.g.props
sershaback/Application/obj/project.assets.json
sershaback/Application/obj/project.nuget.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.assets.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.csproj.AssemblyReference.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.csproj.CoreCompileInputs.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.dll
sershaback/Application/obj/Debug/netcoreapp3.1/Application.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Application/obj/Debug/netcoreapp3.1/Application.pdb
sershaback/Domain/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Domain/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Domain/obj/Domain.csproj.nuget.dgspec.json
sershaback/Domain/obj/Domain.csproj.nuget.g.props
sershaback/Domain/obj/project.assets.json
sershaback/Domain/obj/project.nuget.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.assets.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.csproj.AssemblyReference.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.csproj.CoreCompileInputs.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.dll
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Application.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Application.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.deps.json
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
sershaback/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
sershaback/Infrastructure/obj/project.assets.json
sershaback/Infrastructure/obj/project.nuget.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.assets.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.AssemblyReference.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.CoreCompileInputs.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.FileListAbsolute.txt
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.dll
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.pdb
sershaback/Persistence/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Persistence/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Persistence/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/Persistence/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/Persistence/bin/Debug/netcoreapp3.1/Persistence.runtimeconfig.dev.json
sershaback/Persistence/obj/Persistence.csproj.nuget.dgspec.json
sershaback/Persistence/obj/Persistence.csproj.nuget.g.props
sershaback/Persistence/obj/project.assets.json
sershaback/Persistence/obj/project.nuget.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.assets.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.csproj.AssemblyReference.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.csproj.CoreCompileInputs.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.dll
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.genruntimeconfig.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.pdb
sershaback/API/bin/Debug/netcoreapp3.1/API.dll
sershaback/API/bin/Debug/netcoreapp3.1/API.exe
sershaback/API/bin/Debug/netcoreapp3.1/API.pdb
sershaback/API/bin/Debug/netcoreapp3.1/API.runtimeconfig.dev.json
sershaback/API/bin/Debug/netcoreapp3.1/Application.dll
sershaback/API/bin/Debug/netcoreapp3.1/Application.pdb
sershaback/API/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/API/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/API/bin/Debug/netcoreapp3.1/Infrastructure.dll
sershaback/API/bin/Debug/netcoreapp3.1/Infrastructure.pdb
sershaback/API/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/API/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/API/obj/API.csproj.nuget.dgspec.json
sershaback/API/obj/API.csproj.nuget.g.props
sershaback/API/obj/project.assets.json
sershaback/API/obj/project.nuget.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.assets.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.csproj.CoreCompileInputs.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
sershaback/API/obj/Debug/netcoreapp3.1/API.dll
sershaback/API/obj/Debug/netcoreapp3.1/API.GeneratedMSBuildEditorConfig.editorconfig
sershaback/API/obj/Debug/netcoreapp3.1/API.genruntimeconfig.cache
sershaback/API/obj/Debug/netcoreapp3.1/API.pdb
sershaback/API/obj/Debug/netcoreapp3.1/apphost.exe
sershaback/Application/bin/Debug/netcoreapp3.1/Application.deps.json
sershaback/Application/bin/Debug/netcoreapp3.1/Application.dll
sershaback/Application/bin/Debug/netcoreapp3.1/Application.pdb
sershaback/Application/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Application/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Application/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/Application/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/Application/obj/Application.csproj.nuget.dgspec.json
sershaback/Application/obj/Application.csproj.nuget.g.props
sershaback/Application/obj/project.assets.json
sershaback/Application/obj/project.nuget.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.assets.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.csproj.AssemblyReference.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.csproj.CoreCompileInputs.cache
sershaback/Application/obj/Debug/netcoreapp3.1/Application.dll
sershaback/Application/obj/Debug/netcoreapp3.1/Application.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Application/obj/Debug/netcoreapp3.1/Application.pdb
sershaback/Domain/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Domain/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Domain/obj/Domain.csproj.nuget.dgspec.json
sershaback/Domain/obj/Domain.csproj.nuget.g.props
sershaback/Domain/obj/project.assets.json
sershaback/Domain/obj/project.nuget.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.assets.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.csproj.AssemblyReference.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.csproj.CoreCompileInputs.cache
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.dll
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Domain/obj/Debug/netcoreapp3.1/Domain.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Application.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Application.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.deps.json
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.pdb
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/Infrastructure/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
sershaback/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
sershaback/Infrastructure/obj/project.assets.json
sershaback/Infrastructure/obj/project.nuget.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.assets.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.AssemblyReference.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.CoreCompileInputs.cache
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.FileListAbsolute.txt
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.dll
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.pdb
sershaback/Persistence/bin/Debug/netcoreapp3.1/Domain.dll
sershaback/Persistence/bin/Debug/netcoreapp3.1/Domain.pdb
sershaback/Persistence/bin/Debug/netcoreapp3.1/Persistence.dll
sershaback/Persistence/bin/Debug/netcoreapp3.1/Persistence.pdb
sershaback/Persistence/bin/Debug/netcoreapp3.1/Persistence.runtimeconfig.dev.json
sershaback/Persistence/obj/Persistence.csproj.nuget.dgspec.json
sershaback/Persistence/obj/Persistence.csproj.nuget.g.props
sershaback/Persistence/obj/project.assets.json
sershaback/Persistence/obj/project.nuget.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.assets.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.csproj.AssemblyReference.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.csproj.CoreCompileInputs.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.dll
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.GeneratedMSBuildEditorConfig.editorconfig
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.genruntimeconfig.cache
sershaback/Persistence/obj/Debug/netcoreapp3.1/Persistence.pdb
