.correctAnswerQuizWrapper {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/quiz/quizBackground.png');
    background-size: cover;
    position: relative;
    border-radius: 30px 30px;
    min-height: 100vh;
    padding-top: 2.95rem;
}


.correctAnswerTitleWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-inline: 9rem;
}

.correctAnswerTitle {
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 0.625rem;
}

.correctQuizzWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3.125rem;
    gap: 2rem;
}

.correctAnswerWrapper {
    width: 500px;
    height: 520px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
    color: #ffffff;
    padding: 2.5rem;
    border-radius: 20px 20px;
}

.correctAnswerWrapper h5 {
    font-size: 0.875rem;
    font-weight: 500;
    color: #FFB496;
    margin-block: 0.95rem;

}

.correctAnswerAssignment {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
    border-radius: 20px 20px;
    padding: 1rem;
}

.correctAnswerAnsWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
    color: #ffffff;
    cursor: pointer;
}

.correctOfferedAnswers {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    height: 80px;
    width: 210px;
    gap: 0.315rem;
    background: #C26F4D;
    border-radius: 20px 20px;
    padding: .75rem;
    cursor: pointer;
}

.correctAnswerSelectedWrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1rem;
}

.correctAnswerSelected {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #C26F4D30;
    border-radius: 20px 20px;
    padding: .75rem;
    margin-block: .315rem;
    padding-right: 1.875rem;
    gap: 1rem;
}

@media only screen and (max-width: 480px) {
    .correctAnswerQuizWrapper {
        border-radius: 0;
        background-position: center;
        padding-top: 1rem;
    }

    .correctAnswerTitleWrapper {
        justify-content: unset;
        margin-inline: 0;
    }

    .correctAnswerTitle {
        width: 95%;
        margin-left: 1rem;
        gap: calc(100% - 180px);
    }

    .correctAnswerTitle h1 {
        display: none;
    }

    .correctAnswerWrapper {
        padding: 1.0rem 1.5rem;
        background: none;
        width: 100%;
    }

    .correctAnswerWrapper h5 {
        margin-bottom: .25rem;
    }

    .correctAnswerAnsWrapper {
        flex-direction: column;
    }

    .correctQuizzWrapper {
        margin-top: 0;
        gap: 0;
    }

    .correctOfferedAnswersWrapper {
        width: 100%;
    }

    .correctOfferedAnswers {
        width: 100%;
    }

    .correctAnswerSelected {
        width: fit-content;
    }
}