.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  z-index: 1000;
}

.popMiniGames {
  align-items: center;
  top: 0;
}

.allQuestions {
  text-align: left;
  color: #FFB496;
  overflow-y: hidden;
  font-size: 15px;
}

.questionNum {
  color: white;
  font-size: 15px;
}

.popup-content {
  background: linear-gradient(166.72deg, #CE3D21 5.04%, #922627 90.45%);
  padding: 20px;
  margin-top: 6rem;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  height: 80%;
  max-width: 500px;
  overflow-y: auto;
}

#correctAnswerQuizzPopup {
  color: #B2F0B6;
  font-size: 18px;
}

#questionText {
  color: white;
  font-size: 18px;
}

.popup-content-miniGames {
  background: linear-gradient(166.72deg, #CE3D21 5.04%, #922627 90.45%);
  padding: 20px;
  margin-top: .5rem;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  height: fit-content;
  max-width: 500px;
  overflow-y: auto;
}

.popup-content h2 {
  color: #FFFFFF;
}

.popup-content p {
  color: #FFB496;
}

.results {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: .25rem;
}

.results span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results .correct {
  color: #B2F0B6;
  gap: .15rem;
}

.results .mistakes {
  color: #FFB6B6;
  gap: .15rem;
}

.rewardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin: 20px 0;

}

.singleRewardItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30%;
}

.itemCount {
  position: absolute;
  top: -5px;
  left: .5rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:last-child {
  background-color: #C26F4D;
}

.buttons img {
  margin-right: 5px;
}