.rightAnswerQuizWrapper {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/quiz/quizBackground.png');
    background-size: cover;
    position: relative;
    border-radius: 30px 30px;
    min-height: 100vh;
    padding-top: 2.95rem;
}

.rightAnswerWrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
    color: #ffffff;
    padding: 2.5rem;
    border-radius: 20px 20px;
}

.rightAnswerWrapper h5 {
    color: #FFB496;
    margin-block: .95rem;
}

.rightAnswerTitleWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-inline: 9rem;
}

.rightAnswerTitle {
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 0.625rem;
}

.rightAnswerAssignment {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 1rem;
    background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
    border-radius: 20px 20px;
    padding: 1rem;
}

.rightAnswerOfferedWrapper {
    color: #ffffff;
}

.rightAnswerOfferedAnswers {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 40px;
    width: fit-content;
    gap: 0.315rem;
    background: #C26F4D;
    border-radius: 20px 20px;
    padding: .75rem;
    margin-block: .315rem;
    cursor: pointer;
}

.rightAnswerSelectedWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 0.315rem;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1rem;
}

.rightAnswerSelected {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #C26F4D30;
    border-radius: 20px 20px;
    padding: .75rem;
    margin-block: .315rem;
    padding-right: 1.875rem;
    gap: 1rem;
}

.rightObenWrapper {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-right: 1.875rem;
}

.healthResponsive {
    display: none;
}

.rightAnswerquizWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3.125rem;
    gap: 2rem;
}

.rightAnswerSelectedWrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1rem;
}

.rightAnswerSelected {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #C26F4D30;
    border-radius: 20px 20px;
    padding: .75rem;
    margin-block: .315rem;
    padding-right: 1.875rem;
    gap: 1rem;
}

@media only screen and (max-width: 480px) {
    .rightAnswerQuizWrapper {
        border-radius: 0;
        background-position: center;
        padding-top: 1rem;
    }

    .rightAnswerTitle h1 {
        display: none;
    }

    .rightAnswerTitleWrapper {
        justify-content: unset;
        margin-inline: 0;
    }

    .rightAnswerTitle {
        width: 95%;
        margin-left: 1rem;
        gap: calc(100% - 180px);
    }

    .rightAnswerquizWrapper {
        margin-top: 0;
        gap: 0;
        width: 100%;
    }

    .rightAnswerWrapper {
        padding: 1.0rem 1.5rem;
        background: none;
        width: 100%;
        justify-content: center;
    }

    .rightAnswerWrapper h5 {
        margin-bottom: .25rem;
    }

    .rightAnswerSelected {
        width: fit-content;
    }
}