.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #2F202F;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.AdmHeader {
  max-height: 86px;
}

.menu-icon {
  display: flex;
  align-items: center;
}

.menu-icon .icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.navigationWrapperAdm {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigationWrapperAdm img {
  width: 24px;
  height: 24px;
}

.navigationWrapperAdm a {
  display: flex;
  align-items: center;
}

.navigationWrapperAdm .currentHome img,
.navigationWrapperAdm .dm img {
  filter: brightness(1.2);
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0.75rem;
  }

  .menu-icon .icon {
    font-size: 1.25rem;
  }

  .navigationWrapperAdm {
    gap: 0.75rem;
  }

  .navigationWrapperAdm a {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .navigationWrapperAdm {
    margin-left: 2rem;
  }

  .header {
    padding: 0.5rem;
    z-index: 1;
  }

  .header-right {
    justify-content: start;
  }

  .menu-icon .icon {
    font-size: 1.25rem;
  }

  .navigationWrapperAdm {
    gap: 0.5rem;
  }

  .navigationWrapperAdm img {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 360px) {
  .header {
    padding: 0.5rem;
  }

  .menu-icon .icon {
    font-size: 1rem;
  }

  .navigationWrapperAdm {
    gap: 0.25rem;
  }

  .navigationWrapperAdm img {
    width: 15px;
    height: 15px;
  }
}