.SnapJudgmentWrapperList {
  position: relative;
  margin: 20px auto;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #FFB496;

  background: linear-gradient(180deg, #2F202F 0%, #460C23FF 100%);
}

.createNewSnapJudgmentBtnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.snapJudgmentTitle {
  padding: 10px 20px;
}

.createNewSnapJudgmentBtn {
  margin-block: 20px;
  padding: 10px 20px;
  background-color: #444648;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

tbody {
  color: #fff;
}