body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(0deg, rgba(146,37,70,1) 0%, rgba(60,29,50,1) 50%, rgba(47,32,47,1) 100%); */
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  min-height: 100vh;
}

.grid-fillInTheBlank {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
}

/* Header  */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.header-right {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu-icon {
  display: none;
}

/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 20px;
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

/* 
  .sidebar-brand img {
    margin-right: 1rem;
  } */

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 5px 20px 8px 20px;
  font-size: 15px;
}

.sidebar-list-item div {
  background-color: #444648;
  border-radius: 20px 20px;
  padding: .5rem;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item>div {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
}

.sidebar-list-item>div>span {
  width: 20px;
  margin-right: 10px;
}

.sidebar-list-item>div>svg {
  width: 20px;
}

.sidebar-list-item>div>img,
.sidebar-list-item>div>svg {
  width: 20px;
  margin-right: 10px;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
  z-index: 12 !important;
}

.adminQuizzesSubMenu,
.adminMiniGamesSubMenu {
  margin-left: 1.5rem;
}

/* End Sidebar  */


/* Main  */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner>.card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

.adminBackground {
  background-image: url('../../assets/images/home/homePageBackground.png');
  background-size: cover;
}

#sidebar {
  overflow-y: unset;
}

/* End Main  */


/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  .grid-fillInTheBlank {
    display: unset;
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title>span {
    display: inline;
  }

  #sidebar {
    overflow-y: unset;
  }
}

/* Small <= 768px */

@media screen and (max-width: 768px) {
  .adminBackground {
    background-position: center;
  }

  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }

  #sidebar {
    overflow-y: unset;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .adminBackground {
    background-position: center;
  }

  .grid-container {
    height: unset;
  }

  .hedaer-left {
    display: none;
  }

  .header-right {
    justify-content: start;
  }

  #sidebar {
    overflow-y: unset;
  }
}