.customizationWrapper {
    display: flex;
    flex-direction: column;
    background: rgb(146,37,70);
    background: linear-gradient(0deg, rgba(146,37,70,1) 0%, rgba(60,29,50,1) 50%, rgba(47,32,47,1) 100%); 
    
    position: relative;
    border-radius: 30px 30px;
    min-height: 100%;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 2rem;
    margin-inline: 4rem;
}

.titleChar {
    color: #FFB496;
}

.customizeOptions {
    display: flex;
    gap: 1rem;
}

.foxWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.itemSlider {
    display: flex;
    justify-content: center;
}

.singleImg {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 4rem;
}

.madeWith {
    display: flex;
    align-items: center;
    gap: .75rem;
}