.snapJudgmentGameWrapper {
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/images/miniGames/miniGamesBackground.png');
  background-size: cover;
  position: relative;
  border-radius: 30px 30px;
  min-height: 100vh;
  padding-top: 2.95rem;
}

.snapJudgmentTitleWrapper {
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 1.875rem;
  position: relative;
}

.snapGameInfo {
  position: absolute;
  right: 20%;
}

.snapJudgmentTitle {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 0.625rem;
}

.snapAnswersNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.315rem;
}

.snapAnswersNumber>div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C26F4D;
  color: #FBA07A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.snapGameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.snapGameContainer {
  display: flex;
  width: 960px;
  height: 457px;
  background-image: url(../../../assets/images/miniGames/snapJudgment/snapJudgmentCardBackground.png);
  padding: 40px;
}

.snapLeftSideContent {
  position: relative;
  flex: 1;
}

.snapMiddleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.snapGameCard {
  width: 206px;
  height: 293px;
  background: #FFF;
  border-radius: 20px 20px;
  box-shadow: 25px 30px 45px 0px #00000031;

}

.snapProfilePhoto {
  border-radius: 20px 20px;
}
.snapProfilePhoto img{
  height: 291px;
  width: 206px;
}
.snapProfileName {
  font-size: 12px;
  padding-inline: 25px;
}

.snapPostText {
  font-size: 1rem;
  padding-inline: 25px;
  color: #000;
}

.snapOptionAnswers {
  width: 206px;
  display: flex;
  justify-content: space-between;
  margin-top: 1.875rem;
}

.snapOptionAnswers>img {
  width: 40px;
  height: 40px;
}

.neutralAnswer {
  margin-top: .95rem;
}

.snapRightSideContent {
  flex: 1;
  display: flex;
  justify-content: end;
  position: relative;
}

@media only screen and (max-width: 1000px) {

  .snapJudgmentGameWrapper {
    border-radius: 0;
    padding-top: 0;
    background-position: center;
    background-size: cover;
    background-image: url('../../../assets/images/miniGames/snapJudgment/snapJudgmentCardBackgroundRes.png');


  }

  .snapJudgmentTitleWrapper {
    padding-inline: .5rem;
    width: unset;
    margin: 0;
    margin-bottom: 1.875rem;
  }

  .snapJudgmentTitle {
    width: 100%;
    position: relative;
    padding-top: .5rem;
  }

  .snapJudgmentTitle img {
    position: absolute;
  }

  .snapJudgmentTitle h1 {
    margin: 0 auto;
    font-size: 23px;
  }

  .gameTimerWrapper {
    position: absolute;
    top: 5.35rem;
    left: 50%;
    width: 45px;
    height: 45px;
  }

  .gameTimeCirkle {
    bottom: 30%;
    right: 10px;
    width: 55px;
    height: 55px;
  }

  .gamePad {
    right: 0;
    width: 35px;
    height: 35px;
  }

  .snapGameInfo {
    position: unset;
    right: 0;
  }

  .snapGameContainer {
    background-image: none;
    display: unset;
    padding-inline: 1rem;
  }

  .foxWrap {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }

  .foxTextTought,
  .foxTought {
    display: none;
  }

  .gameResult,
  .gameDescription {
    display: none;
  }

  .gameDescRes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gameDescRes p {
    text-align: center;
    width: 200px;
    color: #FFF;
  }

  .gameResultRes {
    flex-direction: row;
    position: absolute;
    right: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 19px;
  }

  .snapRightSideContent {
    position: unset;
  }

  .snapMiddleContent {
    margin-top: 2.5rem;
  }

  .snapOptionAnswers {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .neutralAnswer {
    margin-top: 1.5rem;
  }

  .snapOptionAnswers img {
    width: 55px;
    height: 55px;
  }

  .correctAnswered>span,
  .incorrectAnswered>span {
    display: none;
  }

  .restAssignment {
    position: absolute;
    left: 1.25rem;
    color: #FFB6B6;
    font-size: 23px;
  }

  .correctAnswered img {
    padding-right: .3rem;
  }

}