.customizationWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 30px 30px;
    min-height: calc(100vh - 86px);
    background-image: url('../../assets/images/customization/background.png');
    background-size: cover;
    min-width: 100vw;
}

.foxMiddle {
    width: 400px;
    height: 400px;
}

#toppart,
#bottompart {
    display: flex;
}

.toppart,
.bottompart,
.foxTopPart,
.foxBottomPart {
    cursor: pointer;
}

.foxTopPart,
.foxBottomPart {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    40% {
        transform: scale(1.3);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    70% {
        transform: scale(1.5);
        transform: rotate(20deg);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1.1);
        transform: rotate(-20deg);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.selectedFoxItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.middleFoxRelative {
    position: relative;
}

.displaynone {
    display: none;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 2rem;
    margin-inline: 4rem;
}

.titleChar {
    color: #FFB496;
}

.customizeOptions {
    display: flex;
    gap: 1rem;
}

.foxWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 5%; */
}

.itemSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    bottom: 10%;
    margin: 0 auto;
}

#singleImg,
#tns1,
.singleImg {
    display: flex;
    align-items: center;
    width: 100vw;
}

.tns-lazy-img {
    height: 80px;
    width: 80px;
}

.sliderLeftButton,
.sliderRightButton {
    background: transparent;
    border: 0;
}

.sliderControls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.sliderLeftButton {
    position: absolute;
    left: 0;
}

.sliderRightButton {
    position: absolute;
    right: 0;
}

.tinySlidWrapper {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .customizationWrapper {
        flex-direction: column;
        background: #000;
        position: relative;
        padding-bottom: 1rem;
    }

    .customizationBackground {
        background-image: url('../../assets/images/customization/background.png');
        background-size: cover;
        background-position: center;
        margin-bottom: 3.2rem;
        border-radius: 0 0 30px 30px;
        min-height: calc(100vh - 150px);
    }

    .titleWrapper {
        justify-content: center;
    }

    .title {
        display: none;
    }

    .customizeOptions {
        gap: 1.35rem;
    }

    .customizeOptions>img {
        width: 50px;
        height: 50px;
    }

    .foxWrapper {
        position: relative;
    }

    .middleFoxRelative {
        top: -2rem;
    }

    .foxTopPart {
        width: 90px;
        height: 90px;
        position: absolute;
        left: 1.1rem;
        bottom: 3rem;
        z-index: 1000;
    }

    .foxMiddle {
        width: 280px;
        height: 280px;
    }

    .foxBottomPart {
        width: 90px;
        height: 90px;
        position: absolute;
        right: 1.1rem;
        bottom: 3rem;
    }

    .itemSlider {
        padding-bottom: 1rem;
    }

    .singleImg {
        gap: 0.5rem;
        width: 50%;
    }

    .singleImg>div>img {
        width: 70px;
        height: 70px;
    }

    .tinySlidWrapper {
        width: 100vw;
    }

    .sliderControls {
        display: none;
    }

    .headerCustomization {
        width: 90%;
    }
}