.customizationWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 30px 30px;
    min-height: calc(100vh - 91px);
    background-image: url('../../assets/images/customization/background.png');
    background-size: cover;
    min-width: 100vw;
}

.foxMiddle {
    width: 300px;
    height: 300px;
}

#toppart,
#bottompart {
    display: flex;
}

.toppart,
.bottompart,
.foxTopPart,
.foxBottomPart {
    cursor: pointer;
}

.foxTopPart,
.foxBottomPart {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    40% {
        transform: scale(1.3);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    70% {
        transform: scale(1.5);
        transform: rotate(20deg);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1.1);
        transform: rotate(-20deg);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.selectedFoxItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.middleFoxRelative {
    position: relative;
}

.displaynone {
    display: none;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 2rem;
    margin-inline: 4rem;
}

.titleChar {
    color: #FFB496;
}

.customizeOptions {
    display: flex;
    gap: 1rem;
}

.foxWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 5%; */

}

.itemSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    bottom: 10%;
    margin: 0 auto;
}

#singleImg,
#tns1,
.singleImg {
    display: flex;
    align-items: center;
    width: 100vw;
}

.tns-lazy-img {
    height: 100px;
    width: 100px;
}

.sliderLeftButton,
.sliderRightButton {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.sliderControls {
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.sliderLeftButton {
    position: absolute;
    left: .5rem;
}

.sliderRightButton {
    position: absolute;
    right: .5rem;
}

.tinySlidWrapper {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory {
    position: fixed;
    align-items: center;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    z-index: 1000;
    padding-bottom: 3rem;
}

.inventoryContent h2 {
    color: white;
}

.noItemInventory {
    color: white;
    font-size: large;
}

.play-button-inventory {
    background-color: #3A0717;
    color: #F37D4A;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 2rem;
}

.inventoryContent {
    background: linear-gradient(166.72deg, #CE3D21 5.04%, #922627 90.45%);
    padding: 20px;
    margin-top: .5rem;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    height: fit-content;
    min-height: 200px;
    max-width: 500px;
    overflow-y: auto;
    position: relative;
}

.customizeOptions {
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .customizationWrapper {
        flex-direction: column;
        background: #000;
        position: relative;
        padding-bottom: 1rem;
    }

    .customizationBackground {
        background-image: url('../../assets/images/customization/background.png');
        background-size: cover;
        background-position: center;
        margin-bottom: 3.2rem;
        border-radius: 0 0 30px 30px;
        min-height: calc(100vh - 150px);
    }

    .titleWrapper {
        justify-content: center;
        margin: 0;
    }

    .title {
        display: block;
        width: 100%;
        text-align: center;

    }

    .customizeOptions {
        gap: 1.35rem;
    }

    .customizeOptions>img {
        width: 50px;
        height: 50px;
    }

    .foxWrapper {
        position: relative;
    }

    .middleFoxRelative {
        top: -2rem;
    }

    .foxTopPart {
        width: 90px;
        height: 90px;
        position: absolute;
        left: 4rem;
        bottom: 3rem;
        z-index: 1000;
    }

    .foxMiddle {
        width: 240px;
        height: 240px;
    }

    .foxBottomPart {
        width: 90px;
        height: 90px;
        position: absolute;
        right: 4rem;
        bottom: 3rem;
    }

    .itemSlider {
        padding-bottom: 1rem;
    }

    .singleImg {
        gap: 0.5rem;
        width: 50%;
        margin-bottom: 1rem;
    }

    /* .tns-lazy-img {
        width: 110px;
        height: 110px;
    } */

    .tinySlidWrapper {
        width: 100vw;
    }

    .sliderControls {
        display: none;
    }

    .headerCustomization {
        width: 90%;
    }
}

@media only screen and (max-width: 560px) {
    .customizationBackground>.titleWrapper {
        margin: 2rem 0 4rem 0;
        text-align: center;
    }

    .title {
        display: block;
        font-size: 2rem;
        width: 100%;
    }

    .foxTopPart {
        width: 70px;
        height: 70px;
        position: absolute;
        left: 1.1rem;
        bottom: 3rem;
        z-index: 1000;
    }

    .foxMiddle {
        width: 200px;
        height: 200px;
    }

    .foxBottomPart {
        width: 70px;
        height: 70px;
        position: absolute;
        right: 1.1rem;
        bottom: 3rem;
    }

    .tns-lazy-img {
        height: 90px;
        width: 90px;
    }

    .itemSlider {
        bottom: 5rem;
    }
}
