.customizationWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 30px 30px;
    min-height: 100vh;
    background-image: url('../../assets/images/customization/background.png');
    background-size: cover;
    min-width: 100vh;
}

.foxMiddle {
    width: 400px;
    height: 400px;
}

.toppart,
.bottompart {
    width: 100%;
    display: flex;
}

.displaynone {
    display: none;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 2rem;
    margin-inline: 4rem;
}

.titleChar {
    color: #FFB496;
}

.customizeOptions {
    display: flex;
    gap: 1rem;
}

.foxWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.itemSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.singleImg {
    display: flex;
    align-items: center;
}

.tns-lazy-img {
    height: 80px;
    width: 80px;
}

.sliderLeftButton,
.sliderRightButton {
    background: transparent;
    border: 0;
}

.sliderControls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.sliderLeftButton {
    position: absolute;
    left: 0;
}

.sliderRightButton {
    position: absolute;
    right: 0;
}

.tinySlidWrapper {
    width: 95vw;
}

@media only screen and (max-width: 780px) {
    .customizationWrapper {
        flex-direction: column;
        background: #000;
        position: relative;
        padding-bottom: 1rem;
    }

    .customizationBackground {
        background-image: url('../../assets/images/customization/background.png');
        background-size: cover;
        background-position: center;
        margin-bottom: 3.7rem;
        border-radius: 0 0 30px 30px;
    }

    .titleWrapper {
        justify-content: center;
    }

    .title {
        display: none;
    }

    .customizeOptions {
        gap: 1.35rem;
    }

    .customizeOptions>img {
        width: 50px;
        height: 50px;
    }

    .foxWrapper {
        position: relative;
    }

    .foxTopPart {
        width: 90px;
        height: 90px;
        position: absolute;
        left: 1.5rem;
        bottom: 3rem;
    }

    .foxMiddle {
        width: 280px;
        height: 280px;
    }

    .foxBottomPart {
        width: 90px;
        height: 90px;
        position: absolute;
        right: 1.5rem;
        bottom: 3rem;
    }

    .itemSlider {
        padding-bottom: 1rem;
    }

    .singleImg {
        gap: 0.5rem;
        width: 50%;
    }

    .singleImg>div>img {
        width: 70px;
        height: 70px;
    }

    .tinySlidWrapper {
        width: 100%;
    }

    .sliderControls {
        display: none;
    }

    .headerCustomization {
        width: 90%;
    }
}