.newGroupingContainer {
  position: relative;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #FFB496;
  background: linear-gradient(180deg, #2F202F 0%, #460C23F2 100%);
}

.newGroupingContainer h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFF;
}

.groupsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.groupFormWrapper {
  width: 100%;
  max-width: 380px;
}

.groupFormWrapper h5 {
  text-align: center;
  font-size: 16px;
  color: #FFF;
}

.groupingTitleInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: transparent;
  color: #FFFFFF;
}

.groupingFieldLabel,
.groupItemsTitle {
  font-size: .85rem;
  padding-bottom: .5rem;
}

.groupingOptionBox {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  margin-bottom: 10px;
}

.groupingOptionBox label {
  width: 100%;
}

.groupingOptionBox input[type='checkbox'] {
  width: 30px;
}

.groupingOptionBox input {
  height: 40px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: transparent;
  color: #FFFFFF;
}

.newPostBtn {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #C26F4D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newPostBtn:hover {
  background-color: #0056b3;
}

.groupingNewOptionFieldAdd {
  display: flex;
  justify-content: center;
}

.groupingAddNewOptionFieldBtn {
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px 15px;
  background-color: #C26F4D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.groupingIncrementCharacter {
  font-size: 20px;
  line-height: 15px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .groupsWrapper {
    flex-direction: column;
    align-items: center;
  }

  .groupFormWrapper {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .newGroupingContainer {
    padding: 15px;
  }

  .groupingTitleInput,
  .groupingOptionBox input {
    height: 35px;
    padding: 8px;
  }

  .newPostBtn {
    padding: 8px 16px;
  }

  .groupingAddNewOptionFieldBtn {
    padding: 3px 10px;
  }

  .groupingIncrementCharacter {
    font-size: 18px;
  }
}