.optionBox {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.optionBox label {
  width: 100%;
}

.optionBox input[type='checkbox'] {
  width: 30px;

}

.optionBox input {
  height: 40px;
}

.newQuestionBtn {
  margin: 15px auto;
  padding: 10px 20px;
  background-color: #C26F4D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
}

.newQuestionBtn:hover {
  background-color: gray;
}

.newOptionFieldAdd {
  display: flex;
  justify-content: center;
}