.newRightAnswerQuestionContainer {
  position: relative;
  margin: 20px auto;
  width: 50%;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #FFB496;

  background: linear-gradient(180deg, #2F202F 0%, #460C23F2 100%);
}

.newRightAnswerQuestionContainer h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFF;
}

.newRightAnswerQuestionInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: transparent;
  color: #FFFFFF;
}

.questionFieldLabel,
.optionsFieldLabel {
  font-size: .85rem;
  padding-bottom: .5rem;
}

.newRightAnswerOptions {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.optionBox {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.optionBox label {
  width: 100%;
}

.optionBox input[type='checkbox'] {
  width: 30px;

}

.optionBox input {
  height: 40px;
}

.newPostBtn {
  margin-block: 20px;
  padding: 10px 20px;
  background-color: #C26F4D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newPostBtn:hover {
  background-color: #0056b3;
}

.newOptionFieldAdd {
  display: flex;
  justify-content: center;
}

.addNewOptionFieldBtn {
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px 15px;
  background-color: #C26F4D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.incrementCharacter {
  font-size: 20px;
  line-height: 15px;
}

@media only screen and (max-width: 768px) {
  .newRightAnswerQuestionContainer {
    width: 100%;
  }
}