.posts {
    display: flex;
    justify-content: space-around;
    background-image: url('../../assets/images/home/homePageBackground.png');
    background-size: cover;
    border-radius: 30px 30px;
    min-height: 100vh;
    margin-bottom: 50px;
}

.postWrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    border-radius: 30px 30px;
    background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
}

.postImg,
.postTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #FFB496;
}

.postLikeWrapper {
    display: flex;
    justify-content: space-between;
    padding: .75rem;
}

.postBy {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding-inline: 2px;
}

.postBy P {
    margin-left: .5rem;
}

@media only screen and (max-width: 780px) {
    html {
        position: relative;
    }

    .homePageWrapper {
        background-color: hsl(0, 0%, 0%);
    }

    .homePageContainer {
        background-image: url('../../assets/images/home/homePageBackground.png');
        border-radius: 0 0 30px 30px;
        background-position-x: center;
    }

    .posts {
        flex-direction: column;
        padding-block: 2rem;
        border-radius: 0 0 30px 30px;
        background-position: center;
        height: 100%;
        margin-bottom: 4.5rem;
        padding-top: 3rem;
    }

    .postWrapper {
        width: 90%;
        margin-block: .5rem;
        padding-block: 0;
        gap: 1rem;
    }

    .postImg,
    .postTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 1rem;
        padding-block: 0;
        color: #FFB496;
    }

    .postTitle {
        padding-top: 1rem;
    }

    .postLikeWrapper {
        padding-block: 0;
        padding-bottom: 1rem;
    }

}