.dmsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url('../../assets/images/dms/dmsBackground.png');
    background-size: cover;
    position: relative;
    border-radius: 30px 30px;
    overflow-y: hidden;
    cursor: pointer;
}

.dmsContainer {
    display: flex;
    justify-content: center;
    margin-top: 3.125rem;
    gap: 2rem;
    min-height: 100vh;
}

.newMsgWrapper {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.msgWrapper {
    display: flex;
    align-items: center;
    width: 400px;
    background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
    border-radius: 20px 20px;
    padding: 1.25rem;
    color: white;
}

.msgWrapper img {
    width: 40px;
    height: 40px;
    margin-right: .9rem;
}

.msgWrapper p {
    color: #FFB496;
    cursor: pointer;
}

.msgPreview {
    width: 500px;
    height: 520px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
    color: #ffffff;
    padding: 2.5rem;
    border-radius: 20px 20px;
}

.receivedMsg {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1rem;

    background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
    border-radius: 20px 20px;
    padding: 1rem;
}

.msgPreview h5 {
    font-size: 0.875rem;
    font-weight: 500;
    color: #FFB496;
    margin-block: 1.5rem;
    margin-left: 1rem;
}

.receivedMsg img {
    width: 40px;
    height: 40px;
}

.possibleAnswers {
    background: #C26F4D;
    color: #ffffff;
    border-radius: 20px 20px;
    width: fit-content;
    padding: .75rem;
    margin-block: .315rem;
    cursor: pointer;
}

.possibleAnswers:hover {
    background: #EBCBBE;
    color: #000000;
}

.answerWrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1rem;
}

.answer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #C26F4D30;
    border-radius: 20px 20px;
    padding: .75rem;
    margin-block: .315rem;
    padding-right: 1.875rem;
    gap: 1rem;
}

.answer img {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 780px) {
    .dmsWrapper {

        background-image: none;
        border-radius: 0;
    }

    .dmsContainer {
        background-image: url('/src/assets/images/dms/dmsBackground.png');
        background-size: cover;
        margin-top: 0;
        background-position: center;
        border-radius: 0 0 30px 30px;
        margin-bottom: 4rem;

        min-height: 100vh;
    }

    .msgPreview {
        display: none;
    }

    .responsiveMsgPreview {
        display: flex;
        width: 500px;
        height: 520px;
        display: flex;
        flex-direction: column;
        color: #ffffff;
        padding: 2.5rem 1rem;
        border-radius: 20px 20px;
    }

    .newMsgWrapper {
        align-items: center;
        width: 100%;
        padding-top: 4rem;
        margin-bottom: 4rem;

    }

    .responsiveNewMsgWrapper {
        align-items: center;
        width: 100%;
        padding-top: 4rem;
        margin-bottom: 4rem;
        display: none;
    }

    .msgWrapper {
        width: 90%;
    }

    .msgWrapper img {
        width: 35px;
        height: 35px;
        margin-right: .9rem;
    }

    .msgWrapper p {
        font-size: 17px;
    }

    .msgShortPreview {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        display: inherit;
    }

    .responsiveSingleMessageHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: .5rem 1rem;
        color: #FFF;
        font-size: 23px;
    }

    .responsiveSingleMessageHeader div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resHeaderAvatarImg {
        width: 45px;
        height: 45px;
    }

    .receivedMsg {
        width: 100%;
        margin-top: 2rem;
        background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
    }

    .receivedMsg img {
        display: none;
    }

    .responsiveMsgPreview h5 {
        padding: 1.25rem 0 .5rem 0;
        font-size: 12px;
    }

    .possibleAnswers {
        height: 45px;
    }

    .answer {
        width: 75%;
    }

    .backButtonRespDm {
        cursor: pointer;
    }
}