.listOfPostsContainer {
    margin: 20px auto;
    width: 80%;
    color: #ffffff;
    background: linear-gradient(180deg, #2F202F 0%, #460C23 100%);
    opacity: 0.9;
}

.create-post-btn {
    margin-block: 20px;
    padding: 10px 20px;
    background-color: #444648;
    color: #fff;
    border: none;   
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .create-post-btn:hover {
    background-color: #C26F4D;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table th {
    color: #FFB496;
    font-weight: bold;
  }
  
  .table tbody tr:hover {

    background-color: #d96f4630;
  }
  
  .table img {
    max-width: 100px;
    height: auto;
  }

  .settingsData {
    width: 1%;
    white-space: nowrap;
  }

  .edit-btn,
.delete-btn {
    margin-right: 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-btn {
    background-color: #444648;
    color: #fff;
}

.delete-btn {
    background-color: #444648;
    color: #fff;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #C26F4D;
}

